@page "/Error"
@using System.Diagnostics

<PageTitle>Lỗi</PageTitle>

<h1 class="text-danger">Lỗi.</h1>
<h2 class="text-danger">Đã xảy ra lỗi khi xử lý yêu cầu của bạn.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Mã yêu cầu:</strong> <code>@RequestId</code>
    </p>
}

<h3>Chế độ phát triển</h3>
<p>
    Chuyển sang môi trường <strong>Development</strong> sẽ hiển thị thông tin chi tiết hơn về lỗi đã xảy ra.
</p>
<p>
    <strong>Không nên bật môi trường Development cho ứng dụng đã triển khai.</strong>
    Điều này có thể dẫn đến việc hiển thị thông tin nhạy cảm từ các ngoại lệ cho người dùng cuối.
    Để gỡ lỗi cục bộ, hãy bật môi trường <strong>Development</strong> bằng cách đặt biến môi trường <strong>ASPNETCORE_ENVIRONMENT</strong> thành <strong>Development</strong>
    và khởi động lại ứng dụng.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
